@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    color: #fff;
    background-color: #000;
  }
 
}
@layer components{
  .menuLink{
    @apply cursor-pointer hover:text-[#c5c5c5]
  }
  .tags{
    width: 90px;
    background-color: #5fdfdf;
    /* background-color: #f80606; */
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    /* display: inline-block; */
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  #footer{
    background-color: rgb(116, 115, 115);
  }
 
}